*~
.DS_store
.lsp-session-*
.org-id-locations
.recentf
.smex-items
auto-save-list
backups
bookmarks
cider-history
elpa
elpy
ido.last
network-security.data
places
projectile-bookmarks.eld
projectile.cache
recentf
session.*
tramp
transient
url